<h2>Histórico de Compras</h2>

<div>
    {{#each purchases}}
        <div class="purchase">
            <h3>Compra {{this.purchaseId}}</h3>
            <p>Data: {{this.purchaseDate}}</p>
            <ul>
                {{#each this.items}}
                    <li>Ingresso: {{this.ticketId.name}} - Quantidade: {{this.quantity}} - Preço: R$ {{this.priceAtPurchase}}</li>
                {{/each}}
            </ul>
            <p>Total da compra: R$ {{this.totalAmount}}</p>
        </div>
    {{/each}}
</div>