{{!-- views/historico.hbs --}}
<div class="container">
    <h2>Histórico de Compras</h2>

    {{#if compras.length}}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo de Ingresso</th>
                    <th>Preço</th>
                    <th>Data da Compra</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                {{#each compras}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{tipo}}</td>
                    <td>R$ {{preco}}</td>
                    <td>{{data}}</td>
                    <td>
                        <a class="btn" href="/ingresso/{{id}}">Ver Ingresso</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p class="empty">Você ainda não comprou nenhum ingresso.</p>
    {{/if}}
</div>